
@{
    ViewData["Title"] = "admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>

        .form-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>

    <h1 class="form-container">Welcome  @ViewData["admin"]</h1>

</body>